{% extends './base.html' %}

{% block title %}Expense List{% endblock%}

{% block content %}

    <h2>Your Expenses List</h2>

    <ul>
        {% for expense in expenses %}

            <li>{{ expense.title }} - ₹{{ expense.amount }} {{ expense.category }}</li>
    
        {% endfor %}
    </ul>

    <a href="{% url 'add_expense' %}"><button>Add Expense</button></a>

    <form action="/accounts/logout/" method="post">
        
        {% csrf_token %}
        <button type="submit">Logout</button>

    </form>

{% endblock %}